
@font-face {
    font-family: 'geomanistregular';
    src: url('fonts/geomanist-regular-webfont.woff2') format('woff2');
         
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: 'geomanistregular';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
